extends layout

block content
    div(class="card glass")
        figure(class="min-w-1/2")
            img.h-full(src="images/404.jpeg" alt="Photographer: Mulyadi")
        .card-body.text-left
            h2.card-title 404 - Page Not Found🙈
            a.mb-5(href="/") 👈Back
