html
    head
        meta(charset="utf-8")
        title= title
        link(href="./styles/main.css", rel="stylesheet")
    body
        h1= message
        div Test
        button(class="btn btn-primary") Test