extends layout

block content
    div(class="card lg:card-side glass")
        .card-body.text-left
            h2.card-title All #{regions.length} regions on earth!
            each item in regions
                p #{item.name} - #{item.countries}